<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlayGround2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A7D035C1F0ED79200C4BC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A7D03701F0ED79200C4BC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A7D037B1F0ED79300C4BC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
